<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minor Project</title>
    <link rel="stylesheet" href="styles/homepage.css">
    <script>
        function clickhandler(){
            window.location.replace("http://localhost:3000/console");
        }

    </script>
</head>
<body>
    <h1 style="text-align: center;margin:0px;font-size:70px">Minor Project </h1>
    <hr style="width:30%;text-align:center;">
    <h3 style="text-align: center; font-family: Helvetica;margin:0px;font-weight:700">181262 181275</h3>
    <h3 style="text-align: center; font-family: Courier;margin:0px;font-weight:200; margin-top:30px;">
        This is the GUI of the warehouse API(Application Programming Interface).
    </h3>
    
    <div class="center">
        <button onclick="clickhandler()">Go to console &rarr;</button>
    </div>
    <div class="footer">
        <p class="views">VIEWS - <span style="color: yellow"><%= count %></span></p>
        <p class="link">check out <a href="https://github.com/ritikbhardwaj/Warehouse-API">Github</a> for the source code
        </p>
        <p class="ip">Your IP - <span style="color: yellow"><%= ipAddress %></span></p>
    </div>
</body>
</html>