<!DOCTYPE html>
<html>
	<head>
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script
			src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
			integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
			crossorigin="anonymous"
		></script>
		<link
			href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/styles/signup.css" />
	</head>

	<body>
		<nav><a href="http://localhost:3000">Minor Project</a></nav>
		<div class="container">
			<h1>Register</h1>
			<div class="error"></div>
			<!-- <div id="form-message"></div> -->
			<div id="form">
				<div class="name">
					<input
						id="firstname"
						placeholder="First Name"
						name="firstname"
						type="text"
						spellcheck="false"
					/>
					<input
						id="lastname"
						placeholder="Last Name"
						name="firstname"
						type="text"
						spellcheck="false"
					/>
				</div>
				<!-- <label for="username">Email</label> -->
				<input
					id="email"
					name="email"
					placeholder="Email"
					type="text"
					spellcheck="false"
				/>
				<!-- <label for="password">Password</label> -->
				<input
					id="password"
					placeholder="Password"
					name="password"
					type="password"
					spellcheck="false"
				/>
				<input
					id="re-password"
					placeholder="Retype Password"
					name="password"
					type="password"
					spellcheck="false"
				/>
				<!-- <div id="show_password">
                <input id="checkbox" type="checkbox" />
                <p>show password</p>
            </div> -->
				<div id="agree">
					<p>
						Already registered?
						<a href="http://localhost:3000/auth/login">Login</a>
					</p>
				</div>
			</div>

			<button id="btn-submit" disabled>Submit</button>
		</div>
		<div class="footer">
			<p class="link">
				check out
				<a href="https://github.com/ritikbhardwaj/Warehouse-API"
					>Github</a
				>
				for the source code
			</p>
		</div>

		<script src="/scripts/signup.js"></script>
	</body>
</html>
