/* Color Theme Swatches in Hex */
.Whites-1-hex {
	color: #b5b5b5;
}
.Whites-2-hex {
	color: #d9d9d9;
}
.Whites-3-hex {
	color: #ffffff;
}
.Whites-4-hex {
	color: #7d7d7d;
}
.Whites-5-hex {
	color: #3b3b3b;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* use viewport-relative units to cover page fully */
body {
	height: 100vh;
	width: 100vw;
}

.container {
	display: grid;
	width: 90%;
	height: 100%;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 80px 1fr 10fr 50px;
	grid-gap: 0.5rem;
	grid-template-areas:
		'header  header'
		'head content-2'
		'content-1 content-2'
		'footer  footer';
	overflow: hidden;
}

.header {
	grid-area: header;
}

.head {
	grid-area: head;
}

.content-1 {
	grid-area: content-1;
}

.content-2 {
	grid-area: content-2;
}

.footer {
	grid-area: footer;
	grid-row: 4 / 5;
	grid-column: 1 / 4;
}

/* OTHER STYLES */

body {
	background-color: #f9f9f9;
	display: flex;
	justify-content: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.item {
	color: #ffffff;
	border-radius: 3px;
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

/* ================== NAVBAR ============== */

.header {
	background-color: #3c4852;
	justify-content: space-between;
	padding: 20px;
}

.header .page-title {
	/* font-size: 1.5rem; */
	font-weight: 200;
}

.header .user-options {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.user-options .user-name {
	font-size: 1.1rem;
	font-weight: 300;
	margin-right: 10px;
}
.user-options button {
	background-color: white;
	color: #3c4852;
	width: 90px;
	height: 25px;
	outline: none;
	border: none;
}

/* ======================================== */

.sidebar {
	background-color: #f0f0f0;
}

.content-1,
.content-2,
.content-3,
.head {
	/* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); */
}

.head {
	display: flex;
	flex-direction: row;
	margin: 0px;
	border-radius: 3px;
	background-color: #f0f0f0;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.head h1 {
	font-size: 1.5rem;
	font-weight: 500;
	margin: 0px;
	color: #3c4852;
}

.head button {
	width: 200px;
	height: 30px;
}

.content-1 {
	background-color: #f0f0f0;
	/* border: 2px solid #0b0c10; */
	display: flex;
	flex-direction: column;
	padding-right: 15px;
	padding-left: 10px;
	padding-top: 10px;
	overflow: scroll;
}

.content-2 {
	background-color: #f0f0f0;
	/* border: 2px solid #0b0c10; */
}

.footer {
	grid-area: footer;
	background-color: #3c4852;
}

/* ================ INFO ================== */

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #0b0c10;
	background-color: #f0f0f0;
	/* -webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px); */
}

.content-2 {
	position: relative;
	display: grid;
	grid-template-rows: 1fr 2fr 3fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'title title'
		'desc info'
		'img img'
		'buttons buttons';
	color: #0b0c10;
}

.img-container {
	grid-area: img;
	background-color: #d9d9d9;
	margin: 0 auto;
	width: 98%;
	height: 100%;
}
.content-2 .title {
	display: flex;
	grid-area: title;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 20px;
	margin: 0;
	margin-bottom: 10px;
	height: 5rem;
	font-size: 2rem;
	background-color: #3c4852;
	border-radius: 3px 3px 0 0;
	color: white;
	/* box-shadow: -2px 4px 14px -3px rgba(0, 0, 0, 0.44); */
}

.content-2 .title .sku {
	background-color: transparent;
	font-size: 1rem;
}

.content-2 .description {
	margin: 0;
	width: 100%;
	height: 100%;
	/* border-right: 1px solid #3c4852; */
	grid-area: desc;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-start;
	padding: 10px;
	font-weight: 300;
}
.content-2 .info {
	display: flex;
	grid-area: info;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 25px;
	font-weight: 500;
}

.content-2 .info-item {
	margin-top: 0px;
	margin-bottom: 30px;
}

.content-2 .key {
	font-weight: 300;
	font-size: 20px;
}
.content-2 .buttons {
	display: flex;
	grid-area: buttons;
	flex-direction: row;
	justify-content: center;
}
.buttons button {
	margin: 0 30px 0 30px;
	width: 300px;
	height: 35px;
	color: white;
	font-weight: 700;
	border: none;
	border-radius: 3px;
}
.buttons button:hover {
	transform: scale(1.01);
	transition: 0.5s;
}

.buttons .update {
	background-color: #f79862;
}
.buttons .create {
	background-color: greenyellow;
}
.buttons .delete {
	background-color: #ff4848;
}

/* ================= END =================== */

/* ================ PRODUCT ================ */

.product {
	background-color: #d9d9d9;
	color: rgb(52, 60, 54);
	margin-bottom: 10px;
	border-radius: 3px;
	width: 100%;
	height: 60px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.product:hover {
	border: 1px solid grey;
	transition: all 0.1s;
}

.product .title {
	display: flex;
	flex-direction: column;
	/* font-size: 1.3rem; */
	font-weight: 500;
	margin: 0px;
	margin-bottom: 5px;
}

.quantity {
	font-weight: 800;
	font-size: 1.5rem;
	margin: 0px;
}

.product .quantity .pcs {
	font-size: 0.5rem;
	font-weight: 300;
}
.product .price {
	display: flex;
	border: 1px solid #3c4852;
	height: 25px;
	width: 70px;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	background-color: #9dbf99;
	font-weight: 300;
	margin: 0px;
}

.title .sku {
	font-size: 15px;
	font-weight: 100;
	width: 150px;
	/* background-color: #f29f05; */
}

/* =======================  END ================= */

@media only screen and (max-width: 1070px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 80px 1fr 15rem 30rem 50px;
		grid-template-areas:
			'header'
			'head '
			'content-1'
			'content-2'
			'footer';
		overflow: scroll;
	}

	/* .price {
		height: 20px;
		width: 70px;
		font-weight: 300;
		font-size: 1rem;
	} */

	.title {
		font-size: 1rem;
	}
	.title .sku {
		font-size: 0.5em;
		font-weight: 100;
		width: 150px;
		/* background-color: #f29f05; */
	}
	.page-title {
		font-size: 1.1rem;
	}
}
