/* use viewport-relative units to cover page fully */
body {
	height: 100vh;
	width: 100vw;
	background-color: #f9f9f9f9;
}
.center {
	margin: auto;
	width: 300px;
	padding: 10px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.center button {
	margin-top: 30px;
	border: none;
	width: 400px;
	height: 50px;
	color: white;
	font-size: 20px;
	background-color: #08f26e;
	padding: 10px;

	box-shadow: 0px 2px 16px 0px rgba(8, 242, 99, 0.75);
	-webkit-box-shadow: 0px 2px 16px 0px rgba(8, 242, 99, 0.75);
	-moz-box-shadow: 0px 2px 16px 0px rgba(8, 242, 99, 0.75);

	cursor: pointer;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #3c4852;
	color: white;
	text-align: center;
	font-family: helvetica;
}
.footer .views {
	flex-grow: 1;
	font-family: helvetica;
}
.footer .link {
	flex-grow: 20;
}
.footer .ip {
	flex-grow: 1;
}
